.home {
  max-width: 600px;
  margin: 0 auto;
  padding: 24px;
}

.transactions {
  .header {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgb(214, 241, 241);
    text-align: center;
    padding: 16px 0;
    margin-bottom: 16px;

    border-radius: 4px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -ms-border-radius: 4px;
    -o-border-radius: 4px;

    button {
      width: 50%;
      color: white;
      background-color: #007dc1;
      border: 1px solid #007dc1;
      margin-top: 16px;
      &:hover {
        background-color: #0061a7;
      }
    }
  }

  .item {
    display: flex;
    flex-direction: column;
    margin-bottom: 16px;
    border: 1px solid #f1f1f1;
    padding: 8px 16px;

    span {
      margin-bottom: 4px;
    }
  }
}

.withdraw {
  display: flex;
  flex-direction: column;

  .input-section {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-bottom: 16px;

    label {
      position: relative;
      width: 100%;
      margin-bottom: 24px;
    }

    input {
      width: 100%;
      margin-top: 8px;
    }

    .error-txt {
      position: absolute;
      left: 0;
      top: 100%;
      color: red;
      font-size: 12px;
      line-height: 1.5;
    }
  }

  button {
    width: 50%;
    background-color: #fff;
    border: 1px solid #000;
    margin-top: 16px;
    &:hover {
      color: #fff;
      background-color: #0061a7;
    }
  }
}

.success {
  display: flex;
  flex-direction: column;
  align-items: center;

  button {
    width: 50%;
    color: white;
    background-color: #007dc1;
    border: 1px solid #007dc1;
    margin-top: 16px;
    &:hover {
      background-color: #0061a7;
    }
  }
}
